body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

#root {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: white;
  padding: 2rem;
}
:root{
  --light-green: #CDF683;
  --secondary-text-color: #6F7774;
  --primary-text-color: #313D37;
  --primary-box-color: #EEF1EF;
  --secondary-white: #F2F4F2;
  --purple: #E1D5F4;
  --orange: #FFC69E;
  --white: #FFFFFF;
}
.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.share-container {
  margin-top:0.5rem;
  border-radius: 10px; 
  align-items: center;
  justify-content: center; 
  display: flex;
  flex-flow: row;
  column-gap: 10px;
}

.share-bubble {
  background: var(--white);
  padding: 0.5rem;
  border-radius: 6px;
  border: solid 3px var(--purple);
}

.share-bubble:hover{
  border-radius: 10px;
}

.box-container {
  background: var(--white);
  width: fit-content;
  padding: 3rem; 
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px #dfdddd;
}


.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-container > h2{
  margin: 0;
  color: var(--primary-text-color);
}

.flex1 > img{
  width: 123px;
  height: 130px;
  border: solid 4px var(--purple);
  border-radius: 6px;
}

.about-text {
  max-width: 400px;
  color: var(--secondary-text-color);
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primary-button {
  margin: 0.2rem;
  padding: 0.5rem;
  background: var(--purple);
  border: solid transparent;
  border-radius: 6px;
  width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  &:hover{
    border-radius: 20px;
  }

}

.primary-button>img {
  margin: 0.3rem; 
  cursor: pointer;
}

.primary-button > a{
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.project-box {
  max-width: 300px;
  margin: 1rem;
  background: var(--white);
  padding: 2rem;  
  border-radius: 0.5rem;
  border: solid 1px black;
  box-shadow: 0 5px 10px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project-languages-container{
  display: flex;
  flex-wrap: wrap;
}
.text-bubble {
  background: var(--purple);
  width: fit-content;
  padding: 0.2rem;
  color:var(--primary-text-color);
  padding-left:0.6rem;
  padding-right: 0.6rem;
  border-radius: 1rem;
  margin: 0.2rem;
  font-size: 12px;
}
.primary {
  background: var(--orange); 
}
.project-banner-wrapper{
  font-size: 15px;
}
.project-banner-wrapper > h3 {
  margin: 0px;
}
.project-image-banner{
 flex-basis: 200px;
}
.project-image{
 
}
.project-details-content{
  font-size: 13px;
  color: var(--secondary-text-color)
}
.nav-bar-container {
  position: fixed;
  top:0px;
  height: 8%;
  background: var(--white);
  box-shadow: 0 3px 8px #dfdddd;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.empty-div{
  height: 40px;
}
.visit-languages-container{
  display: flex;
  justify-content: space-between;
}
.theme-container{
  cursor: pointer;
}
@media (max-width:500px) {
  .projects-container{
    grid-template-columns: repeat(1,1fr); 
  }
}

@media (prefers-color-scheme: dark){
  :root {
    --purple: #180438;
  }
}