body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

#root {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: white;
  padding: 2rem;
}
:root{
  --light-green: #CDF683;
  --secondary-text-color: #6F7774;
  --primary-text-color: #313D37;
  --primary-box-color: #EEF1EF;
  --secondary-white: #F2F4F2;
  --purple: #E1D5F4;
  --orange: #FFC69E;
}
.boxitems-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.boxitem{
  transition: 1s;
}
.boxsquare {
  position: fixed;
  width: 84px;
  height: 84px;
  background: var(--primary-box-color);
}

.boxcircle{
  position: fixed;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: var(--primary-box-color);
}

.boxcircle:hover{
  background: var(--orange);
}

.boxsquare:hover{
  background: var(--purple);
}

.boxsquare1{
  bottom: 10%;
  left:5%;
}
.share-container {
  margin-top:0.5rem;
  border-radius: 10px; 
  align-items: center;
  justify-content: center; 
  display: flex;
  flex-flow: row;
  column-gap: 10px;
}

.share-bubble {
  background: var(--secondary-white);
  padding: 0.5rem;
  border-radius: 6px;
  border: solid 3px var(--light-green);
}

.share-bubble:hover{
  border-radius: 10px;
}

.box-container {
  background: var(--primary-box-color);
  width: fit-content;
  padding: 3rem; 
  border-radius: 6px;
  box-shadow: 0 5px 30px #dfdddd;
}


.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-container > h2{
  margin: 0;
  color: var(--primary-text-color);
}

.flex1 > img{
  width: 123px;
  height: 130px;
  border: solid 4px var(--light-green);
  border-radius: 6px;
}

.about-text {
  max-width: 400px;
  color: var(--secondary-text-color);
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primary-button {
  margin: 0.2rem;
  padding: 0.5rem;
  background: var(--light-green);
  border: solid transparent;
  border-radius: 6px;
  width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  &:hover{
    border-radius: 20px;
  }

}

.primary-button>img {
  margin: 0.3rem; 
  cursor: pointer;
}

.primary-button > a{
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



