body {
  margin: 0px;
  padding: 0px;
  font-family: 'DM Sans', sans-serif;
}

#root {
  background: white;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 10px;
  padding: 2rem;
  justify-content: center;
}
:root{
  --blue: #00BCFF;
  --light-blue: #ebf9ff;

  --orange: #FF4D12;
  --light-orange: #FF7361;

  --emerald: #00CF7F;
  --light-emerald: #b0ecd5;

  --shadow-color: #d0dce0;

  --secondary-text-color: #5e6d74;
}



.share-container {
  background: var(--secondary-color);
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  flex-flow: row;
  column-gap: 10px;
}

.box-container {
  border: solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;

}

.project-box-container {
  box-shadow: 6px 6px var(--light-orange);
  padding-left: 15px;
  padding-right: 15px;
}


.about-box-container {
  box-shadow: 6px 6px var(--emerald);
  padding-left: 15px;
  padding-right: 15px;
}

.expand-button {
  border: solid transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--shadow-color);

}
.project-banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-banner-wrapper > h3 {
  color: var(--secondary-text-color);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-box{
  width: auto;
  width: auto;
  max-width: 300px;
  background:white;
  box-shadow: 1px 2px 4px var(--shadow-color);
  border-radius: 20px;
  margin: 10px;
  margin-left: 0px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-box > div > a {
  float: right;
  color: var(--blue);
  font-weight: 600;
  font-size: 15px;
  margin: 10px;

}

.text-bubble{
  width: fit-content;
  margin: 2px;
  margin-left: 0px;
  margin-left: 0px; 
  background: black;
  color: white;
  padding: 3px; 
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
}


.project-languages-container{
  display: flex;
  gap:0.5rem;
}

.about-content-holder >p {
  color: var(--secondary-text-color);
}
.profile-container {
  position: relative;
  text-align: center;
}

.profile-container > img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: rgba(65, 65, 65, 0.7);
  border-radius: 10px;
  color: var(--emerald);
  padding: 10px;

}

.text-container > h3,h2{
  margin: 2px;
}

@media screen and (max-width: 700px) {
  #root {
    grid-template-columns: auto; 

  }
}